<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/"
        ><cds-icon shape="home"></cds-icon> <span class="title">Home</span></a
      >
    </div>
    <div class="header-nav">
      <a
        class="active nav-link nav-text"
        (click)="openReportModal()"
        href="javascript:void(0)"
        >Report</a
      >
      <a
        class="nav-link nav-text"
        (click)="openReportModal(true)"
        href="javascript:void(0)"
        >Report strict</a
      >
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon-text" (click)="logout()">
        <cds-icon shape="logout"></cds-icon>
        <span class="nav-text">Log out</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div *ngIf="customer; else unauthorized">
        Hello {{ customer.customerName }}
      </div>
      <div *ngIf="errorMessage" class="error active">{{ errorMessage }}</div>
      <tenant-list></tenant-list>
    </div>
  </div>
</div>
<!-- Temppalates -->
<ng-template #unauthorized>
  <clr-alert [clrAlertClosable]="false" [clrAlertType]="'danger'">
    <clr-alert-item>
      <span class="alert-text">
        You are not authorized to see this content
      </span>
    </clr-alert-item>
  </clr-alert>
</ng-template>
