<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/"
        ><cds-icon shape="home"></cds-icon> <span class="title">Home</span></a
      >
    </div>
    <div class="header-nav">
      <a class="nav-link" (click)="logout()" href="javascript:void(0)"
        ><span class="nav-title">Log out</span></a
      >
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div *ngIf="customer; else unauthorized">
        Hello {{ customer.customerName }}
      </div>
      <div *ngIf="errorMessage" class="error active">{{ errorMessage }}</div>
      <tenant-list></tenant-list>
    </div>
  </div>
</div>
<!-- Temppalates -->
<ng-template #unauthorized>
  <clr-alert [clrAlertClosable]="false" [clrAlertType]="'danger'">
    <clr-alert-item>
      <span class="alert-text">
        You are not authorized to see this content
      </span>
    </clr-alert-item>
  </clr-alert>
</ng-template>
